{% extends 'common/base.html' %}
{% from 'common/macro.html' import show_img,page_info %}

{% block title %}{{ user.nickname if user.nickname else user.username }}的评论{% endblock %}

{% block page_content %}
    <div class="media">
        <div class="media-left">
            {{ show_img(user) }}
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="{{ url_for('user.info',username=user.username) }}" target="_blank">
                    {{ user.nickname if user.nickname }}({{ user.username }})
                </a>
            </h4>
            {{ user.info if user.info }}
        </div>
    </div>


    <h3 id="article">评论：</h3>
    {% for comment in comments %}
        <div class="list-group">
            <a href="{{ url_for('article.get',id=comment.article.id) }}" class="list-group-item active">
                <h4 class="list-group-item-heading"
                    style="text-overflow : ellipsis; white-space: nowrap; overflow: hidden;">
                    {{ comment.article.title }}
                </h4>
                {% if not comment.is_show %}
                    <h5>'此内容已被管理员隐藏'</h5>
                {% endif %}
                {% if comment.is_show or current_user.role == admin %}
                    <p class="list-group-item-text"
                       style="text-overflow : ellipsis; white-space: nowrap; overflow: hidden;">
                        评论：{{ comment.body }}
                    </p>
                {% endif %}
                <span>
                    评论于：{{ moment(comment.time).format('LLL') }}
                </span>
            </a>
            {% if current_user == comment.user or current_user.role == admin %}
                <a href="{{ url_for('comment.delete',id=comment.id) }}">删除</a>
                {% if current_user.role == admin %}
                    <a href="{{ url_for('comment.set_show',id=comment.id,next=request.url) }}">
                        {{ '隐藏' if comment.is_show else '显示' }}
                    </a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
    {{ page_info(pagination,'comment.all',username=user.username) }}
{% endblock %}