{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{# 标题 #}
{% block title %}博客-😄{% endblock %}

{# js代码 #}
{% block scripts %}
    {# 调用父类block的js代码块，否则将会覆盖父类block的js代码 #}
    {{ super() }}
    {# 加载moment.js文件 #}
    {{ moment.include_moment() }}
    {# 将时间显示为中文格式 #}
    {{ moment.lang('zh-CN') }}
{% endblock %}

{# 导航栏 #}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">首页</a>
                <a class="navbar-brand" href="{{ url_for('article.write') }}">写文章</a>
                {% if current_user.is_authenticated %}
                    <a class="navbar-brand" href="{{ url_for('article.all',username=current_user.username) }}">
                        我的文章
                    </a>
                    <a class="navbar-brand" href="{{ url_for('comment.all',username=current_user.username) }}">
                        我的评论
                    </a>
                {% endif %}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    {% if not current_user.is_authenticated %}
                        <li><a href="{{ url_for('user.register') }}">注册</a></li>
                        <li><a href="{{ url_for('user.login') }}">登录</a></li>
                    {% else %}
                        <li><a>欢迎您，亲爱的{{ current_user.username }}！</a></li>
                        <li><img src="{{ url_for('static',filename='image/'+current_user.protrait) }}"
                                 style="width: 50px;height: 50px;" alt="{{ current_user.username }}"/></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">我<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('user.info',username=current_user.username) }}">我的信息</a></li>
                                <li><a href="{{ url_for('user.profile') }}">修改信息</a></li>
                                <li><a href="{{ url_for('user.edit_password') }}">修改密码</a></li>
                                <li><a href="{{ url_for('user.logout') }}">退出登录</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block content %}

    {# 提示消息 #}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span
                    aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    {# 主内容区 #}
    {% block page_content %}{% endblock %}

{% endblock %}